body{
  color:#40514E;
  margin:  0;
  text-align: center;
}

.top-container{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.65rem;
  color:  #66BFBF;

}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color:  #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
color: #11999E;
}
.profile-pic{
  border-radius: 50%;
}
a{
  color: #11999E;
  font-family: Arial;
margin: 10px 20px;
text-decoration: none;
}
a:hover{
  color:#EAF6F6;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin : 100px auto;
}
.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;
}
.skills{
  position: relative;
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.middle-container{
margin: 100px 0;
}
.bottom-container{
background-color: #66BFBF;
padding: 50px 0 20px;
}
.copy{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 10px;
}


.code-img{
  width: 25%;
  float: left;
  margin-right: 30px;
  border-radius:8px;
}

.class-img{
  width: 25%;
  float: right;
  margin-left:  30px;
  height: 150px;


}
.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
p{
  line-height: 2;
}
.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.intro{
  width: 30%;
  margin:auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px;
}
